# Fake data generation

In [1]:
from faker import Faker
import numpy as np
import pandas as pd
import random

In [2]:
faker = Faker(seed=666)
np.random.seed(666)

In [3]:
keywords = [
    'archeology',
    'museums',
    'music',
    'art',
    'cinema',
    'countryside',
    'tracking',
    'rafting',
    'history',
    'literature',
    'sport',
    'food',
    'wine',
    'beer'
]

In [4]:
# guide profile generation
def generate_guide():
    guide = {}
    guide['gender'] = np.random.choice(['male', 'female'], size=1).item()
    guide['name'] = (faker.first_name_male() if guide['gender'] == 'male' else faker.first_name_female()) + ' ' + faker.last_name()
    guide['birth_date'] = faker.date_of_birth(maximum_age=65, minimum_age=20)
    guide['now_available'] = True
    guide['languages_spoken'] = list(np.random.choice(['english', 'italian', 'french', 'spanish', 'deutsche', 'dutch', 'bulgarian', 'chinese'], size=1+np.random.poisson(lam=1, size=1).item(), replace=False))
    guide['price'] = int(max(10, np.abs(np.random.normal(30, 5))))
    guide['education'] = np.random.choice(['middle-school', 'high-school', 'bachelor', 'master', 'phd'], size=1).item()
    guide['biography'] = faker.profile()['job']
    guide['keywords'] = list(np.random.choice(keywords, size=np.random.poisson(2, size=1).item(), replace=False))
    guide['current_location'] = {
        "lat": np.random.normal(40.3524, 0.01),
        "lon": np.random.normal(18.1732, 0.01)
    }
    guide['experience'] = random.randint(1,2024-guide['birth_date'].year-18)
    
    return guide

In [5]:
# user profile generation
def generate_tourist():

    tourist = {}

    tourist['languages'] = list(np.random.choice(['english', 'italian', 'french', 'spanish', 'deutsche', 'dutch', 'bulgarian', 'chinese'], size=1, replace=False))

    tourist['keywords'] = list(np.random.choice(keywords, size=np.random.poisson(2, size=1).item(), replace=False))
    
    return tourist

In [6]:
import random 

# rating generation
def generate_rating (tourists, guides):
    ratings = []
    for i in range(len(tourists)):
        
        # random choose guides from intersection of languages
        intersect_guides = [index for index in range(len(guides)) if np.all(np.in1d(tourists[i]['languages'], guides[index]['languages_spoken']))]
        other_guides = [index for index in range(len(guides)) if index not in intersect_guides]
        
        # random choose 3 guides without duplicates
        random_guides = np.random.choice(intersect_guides,2, replace=False)
        random_guide = np.random.choice(other_guides,1)
        
        # random choose 1 or 2 guides to rate
        for j in range(np.random.randint(1,3)):

            rating = round(np.random.normal(loc=4, scale=0.5, size=1).item(),0)
            ratings.append((i,random_guides[j],rating))

        # random choose if rate badly
#        if(np.random.binomial(1, 0.2)):
            bad_rating = round(np.random.normal(loc=1.5, scale=0.3, size=1).item(),0)
            # rate the last guide with bad rating
            ratings.append((i,random_guide[0],bad_rating))
    
    return ratings

#### Data generation

In [7]:
n_tourists = 200
n_guides = 40

In [8]:
guides = [generate_guide() for _ in range(n_guides)]
tourists = [generate_tourist() for _ in range(n_tourists)]

In [9]:
ratings = generate_rating(tourists,guides)

Dataframes

In [12]:
guide_df = pd.DataFrame(guides)
guide_df

,gender,name,birth_date,now_available,languages_spoken,price,education,biography,keywords,current_location,experience
0,male,Charles Martin,1971-03-25,True,[english],25,high-school,Occupational hygienist,[museums],"{'lat': 40.342693584880706, 'lon': 18.16438078...",20
1,female,Rachel Carter,2002-02-19,True,"[italian, dutch]",36,middle-school,Airline pilot,"[cinema, rafting, history, wine]","{'lat': 40.3367551413547, 'lon': 18.1569120995...",1
2,female,Lynn Goodman,1982-03-25,True,"[chinese, french, english]",34,phd,Wellsite geologist,"[food, archeology, art]","{'lat': 40.362447049660204, 'lon': 18.14225129...",15
3,male,Shawn Patton,1962-06-01,True,[bulgarian],46,bachelor,"Scientist, audiological","[countryside, rafting, art]","{'lat': 40.36584086550253, 'lon': 18.183002910...",6
4,male,Joseph Reyes,1964-05-12,True,"[deutsche, french]",30,master,Neurosurgeon,"[countryside, tracking, beer]","{'lat': 40.354724889812935, 'lon': 18.20308322...",24
5,male,James Ramirez,1993-10-26,True,"[deutsche, dutch, bulgarian]",27,middle-school,Musician,[],"{'lat': 40.35854623058413, 'lon': 18.183459879...",8
6,male,Shaun Morrow,1976-12-08,True,"[english, chinese, french]",34,middle-school,Careers information officer,"[rafting, art, sport]","{'lat': 40.35774331848761, 'lon': 18.163273185...",21
7,male,William Coleman,2004-01-02,True,"[spanish, dutch, french, italian]",33,bachelor,Social worker,"[museums, art, countryside, wine]","{'lat': 40.365193043282794, 'lon': 18.18548169...",2
8,male,Keith Knapp,1987-10-16,True,"[bulgarian, english, chinese]",31,middle-school,Proofreader,"[literature, cinema, music]","{'lat': 40.35265552781134, 'lon': 18.151723396...",11
9,male,Bill Hernandez,1963-12-01,True,"[chinese, bulgarian, dutch, english]",37,phd,Network engineer,[museums],"{'lat': 40.33774657696426, 'lon': 18.182064664...",20
10,female,Karen Bell,2002-05-23,True,"[bulgarian, deutsche]",23,high-school,Civil Service administrator,"[cinema, rafting, sport, museums, countryside]","{'lat': 40.36612881009787, 'lon': 18.182042843...",3
11,female,Tammy Lee,2003-06-16,True,[bulgarian],23,phd,Dispensing optician,"[cinema, beer, rafting]","{'lat': 40.367394960036485, 'lon': 18.17553586...",3
12,female,Monica Lee,2003-07-04,True,"[dutch, french, italian]",19,bachelor,"Scientist, product/process development","[sport, music, beer]","{'lat': 40.34268462008425, 'lon': 18.187542175...",3
13,female,Kathleen Hill,1958-09-10,True,"[chinese, english]",27,master,Fashion designer,"[sport, archeology, beer]","{'lat': 40.35377358678542, 'lon': 18.174728239...",6
14,male,Michael Ritter,1967-03-20,True,"[chinese, french]",40,middle-school,Charity officer,[museums],"{'lat': 40.353069674191346, 'lon': 18.17755576...",13
15,male,Erik Roach,1961-03-30,True,"[deutsche, chinese]",31,middle-school,Copy,"[music, food, tracking, archeology]","{'lat': 40.35272705494921, 'lon': 18.165705019...",24
16,male,Preston Gonzales,1982-08-23,True,"[spanish, bulgarian, french]",32,middle-school,Passenger transport manager,"[countryside, music, beer]","{'lat': 40.32347428820915, 'lon': 18.164571467...",10
17,male,Elijah Sullivan,1994-01-05,True,[dutch],26,master,Health promotion specialist,"[wine, sport, art]","{'lat': 40.36624424923941, 'lon': 18.174443383...",8
18,male,Joel Wells,1993-08-21,True,"[italian, dutch]",24,bachelor,Chief of Staff,[food],"{'lat': 40.362871505646005, 'lon': 18.18292777...",6
19,female,Kelly Collins,1988-12-11,True,"[bulgarian, deutsche, english]",35,middle-school,Fish farm manager,[],"{'lat': 40.339915788807765, 'lon': 18.18379781...",15
20,female,Courtney Johnson,1963-12-13,True,"[deutsche, french]",43,master,Research scientist (physical sciences),"[rafting, museums, food]","{'lat': 40.357612936236265, 'lon': 18.16907898...",8
21,male,David Woodward,1961-06-11,True,[chinese],26,high-school,Associate Professor,[cinema],"{'lat': 40.342846292499104, 'lon': 18.16089760...",15
22,female,Amy Riley,1958-12-21,True,"[chinese, spanish]",25,high-school,Tourism officer,"[history, countryside, cinema, literature, music]","{'lat': 40.36846436096489, 'lon': 18.171263566...",32
23,female,Audrey Burch,1992-02-16,True,"[english, italian, bulgarian]",20,middle-school,Equities trader,[tracking],"{'lat': 40.364408581391295, 'lon': 18.16428124...",6
24,female,Samantha Pena,1974-05-16,True,"[dutch, italian, bulgarian]",28,high-school,Aeronautical engineer,[],"{'lat': 40.32998981194129, 'lon': 18.175342312...",3
25,female,Katherine Summers,1977-03-17,True,[bulgarian],31,phd,Location manager,[literature],"{'lat': 40.36710284805045, 'lon': 18.179956956...",14
26,male,Jeffrey Brooks,2002-06-04,True,[dutch],30,phd,Adult guidance worker,"[tracking, beer, museums]","{'lat': 40.37981446263931, 'lon': 18.178854600...",4
27,female,Deborah Jimenez,1974-09-01,True,[italian],30,phd,Diagnostic radiographer,"[countryside, beer]","{'lat': 40.3457074414046, 'lon': 18.1747654675...",24
28,female,Andrea Thompson,1973-06-11,True,[spanish],25,middle-school,Toxicologist,"[food, rafting, museums, music, art, tracking]","{'lat': 40.35079556972286, 'lon': 18.181927024...",3
29,female,Sharon Mccoy,1998-06-14,True,"[bulgarian, chinese]",28,master,Fast food restaurant manager,"[archeology, literature, tracking]","{'lat': 40.35465462623879, 'lon': 18.172666005...",4
30,female,Tracy Fuller,1972-02-21,True,"[french, deutsche, english]",27,bachelor,"Production designer, theatre/television/film",[music],"{'lat': 40.361047668976795, 'lon': 18.18633484...",29
31,male,Christopher Shields,1984-11-06,True,"[deutsche, french, english]",23,master,"Therapist, nutritional","[music, countryside, food]","{'lat': 40.339171732936364, 'lon': 18.16792590...",13
32,female,Amy Garcia,2002-05-09,True,"[french, bulgarian]",28,phd,Information systems manager,"[archeology, music]","{'lat': 40.343414579847, 'lon': 18.18565562805...",3
33,male,Joshua Casey,1980-05-18,True,[french],26,middle-school,Educational psychologist,"[beer, music, countryside, archeology]","{'lat': 40.34424559835338, 'lon': 18.174907197...",7
34,female,Erika Mccormick,1966-01-26,True,"[chinese, spanish, bulgarian, italian]",28,middle-school,Statistician,[],"{'lat': 40.38198340911851, 'lon': 18.173378831...",16
35,male,Craig Grant,1973-03-16,True,"[italian, french]",30,master,Forensic psychologist,[music],"{'lat': 40.36699713437984, 'lon': 18.165786470...",30
36,male,Javier Smith,2003-07-06,True,[spanish],26,phd,"Psychologist, sport and exercise",[],"{'lat': 40.358649720289904, 'lon': 18.16378056...",2
37,male,David Payne,1983-04-23,True,[dutch],26,master,Plant breeder/geneticist,[],"{'lat': 40.3604075695112, 'lon': 18.1615738690...",10
38,female,Jackie Gomez,1986-12-17,True,[italian],28,master,Chief Financial Officer,[],"{'lat': 40.36497247240833, 'lon': 18.173581152...",12
39,female,Sarah Martin,1967-06-10,True,"[spanish, dutch]",26,middle-school,Ergonomist,[history],"{'lat': 40.35901486939172, 'lon': 18.166553513...",16

In [14]:
guide_df.dtypes

gender              object
name                object
birth_date          object
now_available         bool
languages_spoken    object
price                int64
education           object
biography           object
keywords            object
current_location    object
experience           int64
dtype: object

In [11]:
tourist_df = pd.DataFrame(tourists)
tourist_df

       languages                   keywords
0    [bulgarian]                   [cinema]
1     [deutsche]                         []
2      [spanish]         [rafting, museums]
3     [deutsche]    [cinema, history, food]
4      [chinese]            [wine, rafting]
..           ...                        ...
195     [french]                   [cinema]
196      [dutch]  [food, tracking, history]
197      [dutch]    [museums, art, history]
198    [italian]      [rafting, literature]
199    [spanish]  [countryside, archeology]

[200 rows x 2 columns]

In [12]:
rating_df = pd.DataFrame(ratings)

In [13]:
rating_df

       0   1    2
0      0  32  5.0
1      0  33  2.0
2      0  10  4.0
3      0  33  2.0
4      1  31  4.0
..   ...  ..  ...
583  198  16  2.0
584  199  36  4.0
585  199  26  1.0
586  199   7  5.0
587  199  26  2.0

[588 rows x 3 columns]

In [14]:
tourist_df.to_csv("Data/tourists_{:d}.csv".format(n_tourists), index=True, sep=';')
guide_df.to_csv("Data/guides_{:d}.csv".format(n_guides), index=True, sep=';')
rating_df.to_csv('Data/ratings_{:d}_{:d}.csv'.format(n_tourists,n_guides), index=False, sep=';')